.header-main {
    text-decoration-line: none;
    background-color: #FFC0CB;
    text-align: center;
    font-size: 50px;
    font-family: "Brush Script MT", "Georgia", cursive;
    color: #000000;
}
body {
    background-color: #000000;
    color: #FFC0CB;
}
a:link {
    text-decoration-line: none;
    color: #FFE4E1;
}
a:visited {
    text-decoration-line: none;
    color: #C71585;
}
a:hover {
    text-decoration: underline #FFE4E1;
    color: #FFE4E1;
}
ul {list-style-type: none;

}
.header-main a:hover {
    text-decoration-line: none;
}

* {
    outline: 2px solid red;
}